<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Top navbar example · Bootstrap v5.2</title>

    <link href="/bootstrap.min.css" rel="stylesheet">

    <meta name="theme-color" content="#712cf9">
    <link href="/navbar-top.css" rel="stylesheet">
</head>
<body>

<%- include('widgets/header') %>

<main class="container">
    <div class="bg-light p-5 rounded text-center">
        <img src="<%= product.imageUrl %>" width="300px" height="auto"/>
        <h1 class="mb-4"><%= product.title %></h1>
        <hr/>
        <p class="mt-4"><%= product.description %></p>
    </div>
</main>


<script src="/bootstrap.min.js"></script>


</body>
</html>
