<!DOCTYPE html>
<html>
	<head>
		<title>Edit Account</title>
	</head>
	<body>
		<form action="/edit" method="POST" enctype="application/x-www-form-urlencoded">
			<input type="text" name="firstName" placeholder="First Name"/><br/>
			<input type="text" name="lastName" placeholder="Last Name"/><br/>
			<input type="email" name="email" placeholder="Confirm Email Address"/><br/>			
			<input type="password" name="password" placeholder="Confirm Password"/><br/>
			<button type="submit">Update</button>
		</form>
	</body>
</html>