<!DOCTYPE html>
<html>
	<head>
		<title>Login</title>
	</head>
	<body>
		<form action="/login" method="POST" enctype="application/x-www-form-urlencoded">
			<input type="email" name="email" placeholder="Email Address"/>			
			<input type="password" name="password" placeholder="Password"/>
			<button type="submit">Login</button>
		</form>
	</body>
</html>