<!DOCTYPE html>
<html>
	<head>
		<title>Register</title>
	</head>
	<body>
		<form action="/signup" method="POST" enctype="application/x-www-form-urlencoded">
			<input type="text" name="firstName" placeholder="First Name"/><br/>
			<input type="text" name="lastName" placeholder="Last Name"/><br/>
			<input type="email" name="email" placeholder="Email Address"/><br/>			
			<input type="password" name="password" placeholder="Password"/><br/>
			<button type="submit">Create Account</button>
		</form>
	</body>
</html>